.about {
    background-color: #12140E;
    padding: 8rem 3rem;
    display: flex;
    gap: 5rem;
}

.about .description {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.about .description .profession {
    font-size: 4.5rem;
    font-weight: 400;
    color: #E3E3D9;
}

.about .description .profession span {
    color: #C3C8BC;
}

.about .description .history {
    font-family: 'Manrope', sans-serif;
    font-size: 1.25rem;
    color: #C3C8BC;
    line-height: 2.5rem;
    max-width: 700px;
}

.about .description .info {
    display: flex;
    gap: 14.5rem;
}

.about .description .info .years-history, .about .description .info .albums {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.about .description .info .years {
    font-size: 2.25rem;
    color: #FFBA4A;
}

.about .description .info .label {
    font-size: 0.75rem;
    color: #C3C8BC;
}