.header {
    background-color: #1c1917ce;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
    z-index: 999;
}

.header .logo {
    font-size: 1.5rem;
    font-weight: 400;
}

.header .nav-container ul{
    width: 100%;
    display: flex;
    gap: 2.5rem;
    font-size: 1.6rem;
}

.header .nav-container ul li a{
    padding: 0.5rem 0;
    transition: 0.5s ease-in-out;
    color: #A8A29E;
}

.header .nav-container ul li .is-active {
    color: #FBBF24;
    border-bottom: solid 3px #FBBF24;
}

.header .nav-container ul li a:hover {
    color: #fbbe24e5;
}

.header .contact1 {
    padding: 1rem 2.5rem;
    font-size: 1.25rem;
}